/* Reset e base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: #142661;
  }
  
  /* Layout principal */
  .center {
    display: flex;
    height: 100vh;
  }
  
  /* Lado esquerdo com logo */
  .left {
    width: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-sesc {
    width: 70%;
    max-width: 400px;
  }
  
  /* Lado direito com formulário */
  .right {
    width: 50%;
    background-color: #142661;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    width: 80%;
    max-width: 400px;
    color: #fff;
  }
  
  .form h1 {
    font-size: 32px;
    margin-bottom: 2rem;
  }
  
  /* Estilo dos campos */
  .input-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .input-box i {
    color: #142661;
    margin-right: 10px;
  }
  
  .input-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #142661;
  }
  
  /* Botão */
  .btn-form {
    display: inline-block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none; /* Remove o sublinhado */
    background-color: #FACC4D; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn-form:hover {
    background-color: #e0b93e; /* Cor ao passar o mouse */
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  
  /* Link para login */
  .form-link {
    margin-top: 1rem;
    font-size: 14px;
    color: #ccc;
  }
  
  .form-link a {
    color: #FACC4D;
    text-decoration: none;
  }
  
  .form-link a:hover {
    text-decoration: underline;
  }
  